# {{ ansible_managed }}

/**
 * The db_ido_mysql library implements IDO functionality
 * for MySQL.
 */

library "db_ido_mysql"

object IdoMysqlConnection "ido-mysql" {
  user = "{{ icinga2_web2_ido_db_user }}",
  password = "{{ icinga2_web2_ido_db_pass }}",
  host = "localhost",
  database = "{{ icinga2_web2_ido_db }}"
}
