<?xml version="1.0" encoding="UTF-8"?>
<!--
# {{ ansible_managed }}
-->
<databases xmlns:db="http://agavi.org/agavi/config/parts/databases/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">

    <db:database name="icinga_web" class="AppKitDoctrineDatabase">
        <ae:parameter name="dsn">mysql://{{ icinga2_web_db_dbuser }}:{{ icinga2_web_db_dbpass }}@localhost/{{ icinga2_web_db }}</ae:parameter>
    </db:database>

</databases>