<?xml version="1.0" encoding="UTF-8"?>

<databases xmlns:db="http://agavi.org/agavi/config/parts/databases/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">

    <db:database xmlns="http://agavi.org/agavi/config/parts/databases/1.0" name="icinga" class="IcingaDoctrineDatabase">
        <ae:parameter name="dsn">mysql://{{icinga2_ido_db_dbuser}}:{{icinga2_ido_db_dbuser}}@localhost/{{icinga2_ido_db_dbuser}}</ae:parameter>
    </db:database>

</databases>
