{% if hostvars[item]['group_names'] | difference('monitoring_servers') %}
  # A host definition
object Host "{{ hostvars[item]['ansible_fqdn'] }}" {
  import "generic-host"
  address = "{{ hostvars[item]['ansible_default_ipv4']['address'] }}"
  vars.os = "{{ hostvars[item]['ansible_system'] }}"
  vars.os_family = "{{ hostvars[item]['ansible_os_family'] }}"
{% if hostvars[item]['ansible_local'] is mapping %}
{% for key,value in hostvars[item]['ansible_local'].iteritems() %}
{% if value is mapping %}
{% for entrykey,entryvalue in value.iteritems() %}
  vars.{{ entrykey }} = "{{ entryvalue }}"
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

  # Here Goes Vars and check_command
{% for key,value in host_attributes.iteritems() %}
{% for key,value in value.items() -%} 
{% set i = (hostvars[item][key | regex_replace('^vars\.','')]|default(value)) %}
{% if i is mapping %}
{% for dictname,dictentries in i.items() %}
  {{ key }}["{{ dictname }}"] = { 
{% for entrykey,entryvalue in dictentries.items() %}
    {{ entrykey }} = "{{ entryvalue }}"
{% endfor %}
  } 
{% set defaults = (value | difference(i)) %}
{% for j in defaults  %}
  {{ key }}["{{ j }}"] = { 
{% for entrykey,entryvalue in value[j].items() %}
    {{ entrykey }} = "{{ entryvalue }}"
{% endfor %}
  } 
{% endfor %}
{% endfor %}
{% else %}
  {{ key }} = "{{ i }}"
{% endif %}
{%- endfor %}
{% endfor %}
}

  #Here Goes Checks if Any
{% if host_checks is defined %}
{% for key,value in host_checks.iteritems() %}
object Service "{{ key }}" {
  host_name = "{{ hostvars[item]['ansible_fqdn'] }}"
{% for key,value in value.items() %}
  {{ key }} = "{{ value }}"
{% endfor %}
}

{% endfor %}
{% endif %}
{% else %}
# This is a monitoring server entry. No checks will be copied.
{% endif %}
