# {{ ansible_managed }}

{% for key,value in check_commands.iteritems() %}
object CheckCommand "{{ key }}" {
  import "plugin-check-command"

  command = [
    PluginDir + "/{{ key }}",
    {{ value }}
  ]
}

{% endfor %}
