---
# handlers file for icinga2-ansible-web-ui
- name: restart icinga2
  service: name=icinga2
           state=restarted
           enabled=yes

- name: restart httpd
  service: name=httpd
           state=restarted
           enabled=yes
