{% for host in groups['smtp_no'] %}
object Host "{{ hostvars[host]['ansible_fqdn'] }}" {
  import "generic-host"
  address = "{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}"
  vars.sla = "24x7"
  vars.smtp = "no" 
  vars.nrpe_load = "yes"
  vars.nrpe_disk = "yes"
  vars.nrpe_var = "yes"
  vars.nrpe_home = "yes"
  vars.operator = "admin"
}
{% endfor %}

{% for host in groups['smtp_only'] %}
object Host "{{ hostvars[host]['ansible_fqdn'] }}" {
  import "generic-host"
  address = "{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}"
  vars.sla = "24x7"
  vars.smtp = "yes"
  vars.nrpe_load = "yes"
  vars.nrpe_disk = "yes"
  vars.nrpe_var = "yes"
  vars.nrpe_home = "yes"
  vars.operator = "admin"
}
{% endfor %}

{% for host in groups['http_only'] %}
object Host "{{ hostvars[host]['ansible_fqdn'] }}" {
  import "generic-host"
  address = "{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}"
  vars.sla = "24x7"
  vars.http = "yes"
  vars.http_vhost = "www.{{ hostvars[host]['ansible_domain'] }}"
  vars.nrpe_load = "yes"
  vars.nrpe_disk = "yes"
  vars.nrpe_var = "yes"
  vars.nrpe_home = "yes"
  vars.operator = "admin"
}
{% endfor %}

{% for host in groups['smtp_http'] %}
object Host "{{ hostvars[host]['ansible_fqdn'] }}" {
  import "generic-host"
  address = "{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}"
  vars.sla = "24x7"
  vars.http = "yes"
  vars.smtp = "yes"
  vars.nrpe_load = "yes"
  vars.nrpe_disk = "yes"
  vars.nrpe_var = "yes"
  vars.nrpe_home = "yes"
  vars.operator = "admin"
}
{% endfor %}

{% for host in groups['plesk'] %}
object Host "{{ hostvars[host]['ansible_fqdn'] }}" {
  import "generic-host"
  address = "{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}"
  vars.sla = "24x7"
  vars.http = "yes"
  vars.smtp = "yes"
  vars.plesk = "yes"
  vars.tcp_port = "8443"
  vars.nrpe_load = "yes"
  vars.nrpe_disk = "yes"
  vars.nrpe_var = "yes"
  vars.nrpe_home = "yes"
  vars.operator = "admin"
}
{% endfor %}

{% for host in groups['whm_cpanel'] %}
object Host "{{ hostvars[host]['ansible_fqdn'] }}" {
  import "generic-host"
  address = "{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}"
  vars.sla = "24x7"
  vars.http = "yes"
  vars.smtp = "yes"
  vars.whm = "yes"
  vars.tcp_port = "2087"
  vars.nrpe_load = "yes"
  vars.nrpe_disk = "yes"
  vars.nrpe_var = "yes"
  vars.nrpe_home = "yes"
  vars.operator = "admin"
}
{% endfor %}
