object Host "{{ hostvars[item]['ansible_fqdn'] }}" {
  import "generic-host"
  address = "{{ hostvars[item]['ansible_eth0']['ipv4']['address'] }}"
  vars.sla = "24x7"

{% if http_check == "yes" %}
  vars.http = "yes"
  vars.http_vhost = "www.{{ hostvars[item]['ansible_domain'] }}"
{% else %}
  vars.http = "no"
{% endif %}

{% if smtp_check == "yes" %}
  vars.smtp = "yes"
{% else %}
  vars.smtp = "no"
{% endif %}

{% if nrpe_load == "yes" %}
  vars.nrpe_load = "yes"
{% else %}
  vars.nrpe_load = "no"
{% endif %}

{% if nrpe_disk == "yes" %}
  vars.nrpe_disk = "yes"
{% else %}
  vars.nrpe_disk = "no"
{% endif %}

{% if whm_check == "yes" %}
  vars.whm = "yes"
  vars.tcp_port = "2087"
{% else %}
  vars.whm = "no"
{% endif %}

{% if plesk_check == "yes" %}
  vars.plesk = "yes"
  vars.tcp_port = "8443"
{% else %}
  vars.plesk = "no"
{% endif %}

{% if mysql_check == "yes" %}
  vars.nrpe_mysql = "yes"
{% else %}
  vars.nrpe_mysql = "no"
{% endif %}

{% if operator is defined %}
  #This is who receive all notifications about this host
  vars.operator = "{{ operator }}"
{% else %}
  #This is who receive all notifications about this host
  vars.operator = "admin"
{% endif %}
}
