object User "{{ item.user }}" {
  import "generic-user"
  display_name = "{{ item.display }}"
  groups = [ "{{ item.groups }}" ]
  enable_notifications = true
  email = "{{ item.email }}"
}

object UserGroup "{{ item.groups }}" {
  display_name = "{{ item.display }} User Group"
}
