# {{ ansible_managed }}

allowed_hosts={% for host in nrpe_allowed_hosts %}{{ host }}{% if not loop.last %},{% endif %}{% endfor %}

{% for element in nrpe_configuration %}
{{ element.directive }}
{% endfor %}

{% if ansible_os_family == 'RedHat' %}
{% include "nrpe_RedHat.cfg.j2" %}
{% endif %}
{% if ansible_os_family == 'Debian' %}
{% include "nrpe_Debian.cfg.j2" %}
{% endif %}
{% if ansible_os_family == 'Gentoo' %}
{% include "nrpe_Gentoo.cfg.j2" %}
{% endif %}
