# {{ ansible_managed }}

allowed_hosts={{ nrpe_allowed_hosts }}

{{ nrpe_configuration }}

{% if ansible_os_family == 'RedHat' %}
nrpe_user=nrpe
nrpe_group=nrpe
{% endif %}
{% if ansible_os_family == 'Debian' or ansible_os_family == 'Gentoo' %}
nrpe_user=nagios
nrpe_group=nagios
{% endif %}

{% if nrpe_check_commands is mapping %}
{% for key, value in nrpe_check_commands.iteritems() %}
{% if value is mapping %}
command[{{ key }}]={{ value.path | default(nrpe_agent_plugins_path) }}/{{ value.script | default(key) }} {{ value.args|default("") }}
{% else %}
command[{{ key }}]={{ nrpe_agent_plugins_path }}/{{ key }} {{ value }}
{% endif %}
{% endfor %}
{% else %}
{{ nrpe_check_commands }}
{% endif %}

