# {{ ansible_managed }}

allowed_hosts={% for host in groups['monitoring_servers'] %}{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}{% if not loop.last %},{% endif %}{% endfor %}

{% for key, value in nrpe_configuration.iteritems() %}
{{ key }}={{ value }}
{% endfor %}

{% if ansible_os_family == 'RedHat' %}
{% include "nrpe_RedHat.cfg.j2" %}
{% endif %}
{% if ansible_os_family == 'Debian' %}
{% include "nrpe_Debian.cfg.j2" %}
{% endif %}
