# {{ ansible_managed }}
{% for element in nrpe_users_Debian %}
{{ element.user }}
{% endfor %}

{% set debug_template = false %}
{% if debug_template %}
# inventory_hostname
# {{ inventory_hostname }}
# nrpe_check_commands
#{{ nrpe_check_commands|to_nice_yaml }}
# nrpe_custom_check_commands
# {{ nrpe_custom_check_commands|to_nice_yaml}} 
# hostvars[inventory_hostname].nrpe_check_commands 
# {{ hostvars[inventory_hostname].nrpe_check_commands|to_nice_yaml}}
# hostvars[inventory_hostname].nrpe_custom_check_commands 
#{{ hostvars[inventory_hostname].nrpe_custom_check_commands|to_nice_yaml}}
{% endif %}

# checks for all hosts
{% if nrpe_base_check_commands is defined and nrpe_base_check_commands|count > 0 %}
{% for check,cdict in nrpe_base_check_commands.iteritems() %}
command[{{ check }}]={{ nrpe_agent_plugins }}/{{ cdict.command }} {{ cdict.args }}
{% endfor %}
{% endif %}

{% if nrpe_check_commands is defined and nrpe_check_commands|count > 0 %}
# NRPE check commands
{% for check,cdict in nrpe_check_commands.iteritems() %}
{% if check in nrpe_custom_check_commands %}
# custom check for {{ check }} defined
{% set skip_check = true %}
{% elif 'nrpe_check_commands' in hostvars[inventory_hostname] and check in hostvars[inventory_hostname].nrpe_check_commands %}
# host-specific check for {{ check }} defined
{% set skip_check = true %}
{% elif 'nrpe_custom_check_commands' in hostvars[inventory_hostname] and check in hostvars[inventory_hostname].nrpe_custom_check_commands %}
{% set skip_check = true %}
{% else %}
{% set skip_check = false %}
{% endif %}
{% if not skip_check %}
command[{{ check }}]={{ nrpe_agent_plugins }}/{{ cdict.command }} {{ cdict.args }}
{% endif %}
{% endfor %}
{% endif %}

{% if nrpe_custom_check_commands is defined and nrpe_custom_check_commands|count > 0 %}
# Custom NRPE check commands
{% for check,cdict in nrpe_custom_check_commands.iteritems() %}
{% if 'nrpe_custom_check_commands' in hostvars[inventory_hostname] and check in hostvars[inventory_hostname].nrpe_custom_check_commands %}
{% set skip_check = true %}
{% else %}
{% set skip_check = false %}
{% endif %}
{% if not skip_check %}
command[{{ check }}]={{ custom_nagios_plugin_dir }}/{{ cdict.command }} {{ cdict.args }}
{% endif %}
{% endfor %}
{% endif %}
{# if nrpe_custom_check_commands #}

# Specific NRPE check commands for {{ ansible_os_family }}
{% if nrpe_check_commands_Debian is defined and nrpe_check_commands_Debian|count > 0 %}
{% for check,cdict in nrpe_check_commands_Debian.iteritems() %}
#command[{{ check }}]={{ nrpe_agent_plugins }}/{{ cdict.command }} {{ cdict.args }}
{% endfor %}
{% endif %}

# Specific NRPE check commands for a given host or host group
{% if inventory_hostname in hostvars and 'nrpe_check_commands' in hostvars[inventory_hostname] %}
{% for check,cdict in hostvars[inventory_hostname].nrpe_check_commands.iteritems() %}
{% if "plugin_dir" in cdict %}
{% set plugin_dir = cdict.plugin_dir %}
{% else %}
{% set plugin_dir = nrpe_agent_plugins %}
{% endif %}
{% if check in nrpe_custom_check_commands %}
{% set skip_check = true %}
{% elif 'nrpe_custom_check_commands' in hostvars[inventory_hostname] and check in hostvars[inventory_hostname].nrpe_custom_check_commands %}
{% set skip_check = true %}
{% else %}
{% set skip_check = false %}
{% endif %}
{% if not skip_check %}
command[{{ check }}]={{ plugin_dir }}/{{ cdict.command }} {{ cdict.args }}
{% endif %}
{% endfor %}
{% endif %}

# Custom NRPE host-specific check commands 
{% if 'nrpe_custom_check_commands' in hostvars[inventory_hostname] %}
{% for check,cdict in hostvars[inventory_hostname].nrpe_custom_check_commands.iteritems() %}
command[{{ check }}]={{ custom_nagios_plugin_dir }}/{{ cdict.command }} {{ cdict.args }}
{% endfor %}
{% endif %}
